h1{
    font-weight: bold !important;
}


.btn{
    background-color: darkgreen !important;
    border: darkgreen !important;
    color: white !important;
}

footer{
    background-color: #343a40;
    color: white;
}

.card{
    margin-bottom: 5px;
}